In [1]:
%run ./pandas-missing-extension.ipynb

In [1]:
import pandas as pd

## Crear una nueva clase para extender pandas

Datos de prueba

In [3]:
df = pd.DataFrame(
    {
        'a': list("abcdefghij"),
        'b': range(0, 10)
    }
)

df.iloc[2:5, 0] = None
df.iloc[6:7, 1] = None

df

      a    b
0     a  0.0
1     b  1.0
2  None  2.0
3  None  3.0
4  None  4.0
5     f  5.0
6     g  NaN
7     h  7.0
8     i  8.0
9     j  9.0

In [ ]:

@pd.api.extensions.register_dataframe_accessor('missing') #Decorador
class MissingMethods:                                     #Clase
    def __init__(self, pandas_obj):
        self._df = pandas_obj

    def number_missing(self):               #Metodo para contar datos faltantes
        return self._df.isna().sum().sum()
    
    def number_complete(self):              #Metodo para contar datos completos
        return self._df.size - self._df.missing.number_missing()
    
    def proportion_missing(self):
        pass

In [5]:
#probar uso
df = pd.DataFrame(df)

In [6]:
df.missing

In [7]:
df.missing.number_missing()

np.int64(4)

In [8]:
df.missing.number_complete()

np.int64(16)